@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 300px 1fr;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px 35px;
}

.header-top, .header-bottom {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
}

.search-bar svg { 
    width: 25px;
}

.search-bar {
    outline: none;
    border: none;
    display: grid;
    grid-template-columns: max-content 0.7fr;
    align-items: center;
    gap: 15px;
}

.search-bar input {
    background-color: #E2E8F0;
    border: none;
    border-radius: 20px;
    padding: 8px;
}

.user-info {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 20px;
    align-items: center;
}

.user-info svg {
    width: 25px;
}

.small-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

 .user-info b {
    font-size: 1.1rem;
}

.greeting {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 20px;
    align-items: center;
}

.greeting img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.greeting-text p{
    font-weight: bold;
    margin-bottom: 5px;
}

.greeting-text h3 {
    font-size: 1.6rem;
}

.actions {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 25px;
}

.actions button {
    background-color: #1992D4;
    border: none;
    padding: 10px 30px;
    color: white;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

/* floating effect */
.header {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}



.sidebar {
    grid-row: 1 / 3;
    grid-column: 1;
    background-color: #1992D4;
    color: white;
    padding: 20px;
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    gap: 50px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.sidebar .logo h1 {
    margin: 0;
    font-size: 1.8rem;
}

.sidebar svg {
    width: 25px;
    fill: white;
    justify-self: center;
}

.sidebar li {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}

.main-nav ul, .secondary-nav ul{
    display: grid;
    gap: 15px;
}

.logo {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}

.logo svg {
    width: 40px;
    justify-self: center;

}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2;
    background-color: #E2E8F0;
    padding: 30px;
    display: grid;
    grid-template-columns: 4fr  1fr;
    gap: 25px;
}


.card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    min-height: 250px;
}

.project-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.project-card {
    border-left: 10px solid #F0B429;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.card-icons svg {
    width: 25px;
    height: auto;
}

.card-icons {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 20px;
    justify-self: end;
    cursor: pointer;
}

.card-text h3 {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.card-text p {
    color: #666;
    line-height: 1.5;
}

.announcement-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.announcement-card {
    display: grid;
    gap: 25px;
}

.announcement-card hr {
    border: 0;
    border-top: 1px solid hsla(210, 3%, 44%, 0.473);
}

.announcement p {
    color: #666;
    font-size: 0.8rem;
}

.announcement h5 {
    font-size: 0.9rem;
    margin: 0 0 5px 0;
}

.announcement-card {
    padding: 25px 30px;
}

.trend-item img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.trending-card {
    display: grid;
    gap: 25px;
    padding: 25px 30px;
}

.trend-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 20px;
}

.trend-text p:nth-child(2) {
    color: #666;
    font-size: 0.8rem;
}

.trend-text p:nth-child(1) {
    font-size: 0.9rem;
    margin-bottom: 2px;
}

